<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uta.mars"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23"
    />

    <!--todo: API 23 permission model -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/MyTheme"
        android:name=".MyApplication">

        <activity
            android:name=".app.LoginAct"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.RegistrationAct"/>
        <activity android:name=".app.HomeAct"/>
        <activity android:name=".app.ProfileAct"/>
        <activity android:name=".app.ClockInOutAct"/>
        <activity android:name=".app.QrCodeScanAct"/>
        <activity android:name=".app.FaceDetectionAct"/>
        <activity android:name=".app.RegistrationDetail"/>

    </application>
</manifest>
